services:
  manager:
    image: jibby/game-server-manager:main
    restart: always

  list:
    image: jibby/game-server-list:main
    restart: always

  proxy:
    restart: always

  node_exporter:
    volumes:
      - '/:/host:ro,rslave'
