apiVersion: 1

datasources:
  - uid: fdfdlgtee7v9cf
    orgId: 1
    name: prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    jsonData:
      httpMethod: POST
    editable: true
